{% extends "network/layout.html" %}

{% block body %}
    <script>
        function getCookie(name) {
            const value =  `; ${document.cookie}`;
            const parts =  value.split(`; ${name}=`);
            if(parts.length == 2) return parts.pop().split(';').shift();
        }

        function submitHandler(id){
            const textareaValue = document.getElementById(`textarea_${id}`).value
            const content = document.getElementById(`content_${id}`);
            const modal = document.getElementById(`modal_edit_post_${id}`);
            fetch(`/edit/${id}`, {
                method: "POST",
                headers: {"Content-type": "application/json", "X-CSRFToken": getCookie("csrftoken")},
                body: JSON.stringify({
                    content: textareaValue
                })
            })
            .then(response => response.json())
            .then(result => {
                content.innerHTML = result.data;
                // on every modal change state like in hidden modal
                  
                modal.classList.remove('show');
                modal.setAttribute('aria-hidden', 'true');
                modal.setAttribute('style', 'display: none');
                

                // get modal backdrops
                const modalsBackdrops = document.getElementsByClassName('modal-backdrop');

                // remove every modal backdrop
                for(let i=0; i<modalsBackdrops.length; i++) {
                document.body.removeChild(modalsBackdrops[i]);
                }
            })
        }

        function likeHandler(id, whoYouLiked){
            const btn = document.getElementById(`${id}`);

            btn.classList.remove()

            if (whoYouLiked.indexOf(id) >= 0){
                var liked = true;       
            } else {
                var liked = false;
            }

            if(liked == true){
                fetch(`/remove_like/${id}`)
                .then(response => response.json())
                .then(result => {
                    btn.classList.add('btn-info');
                    btn.classList.remove('btn-danger');
                    btn.innerText = "Like";
                })
            } else {
                fetch(`/add_like/${id}`)
                .then(response => response.json())
                .then(result => {
                    btn.classList.add('btn-danger');
                    btn.classList.remove('btn-info');
                    btn.innerText = "Dislike";
                })
            }
        }
    </script>

    <h1>All Posts</h1>
    {% if user.is_authenticated %}
    <div class="new-post">
        <h2>New Post</h2>
        <form action="{% url 'newPost' %}" method="post">
            {% csrf_token %}
            <textarea name="content" rows="4" cols="50"></textarea>
            <br>
            <input type="submit" value="Post" class="btn btn-primary">
        </form>
    </div>
    {% endif %}

    <div class="allPosts">
        {% for post in posts_of_the_page %}
            <div>
                <h5><a href="{% url 'profile' user_id=post.author.id %}">@{{ post.author }}</a></h5>
                <h6 id="content_{{ post.id }}">{{ post.content }}</h6>
                <p>{{ post.date }}</p>
                {% if user.is_authenticated %}
                    {% if user == post.author %}
                        <div>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modal_edit_post_{{ post.id }}">Edit</button>
                        </div>
                        <div class="modal fade" id="modal_edit_post_{{ post.id }}" tabindex="-1" aria-labelledby="modal_edit_post_{{ post.id }}_label" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Edit Post</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <textarea rows="10" id="textarea_{{ post.id }}" name="content">{{ post.content }}</textarea>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" onclick="submitHandler({{ post.id }})">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    {% else %}
                        <button id="{{ post.id }}" class="btn {% if post.id in whoYouLiked %}btn-danger{% else %}btn-info{% endif %}" 
                                onclick="likeHandler({{ post.id|escapejs }}, {{ whoYouLiked|escapejs }})">
                            {% if post.id in whoYouLiked %}Dislike{% else %}Like{% endif %}
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            {% if posts_of_the_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts_of_the_page.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if posts_of_the_page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts_of_the_page.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

